/* Anpassning för enheter med mindre än 1024px bredd */
@media screen and (max-width: 1024px) {
	#CenterContainer #ContentContainer {
		display: inline-block;
		width: 75%;
	}
}
/* Anpassning för enheter med mindre än 800px bredd */
@media screen and (max-width: 800px) {
	#CenterContainer #ContentContainer {
		display: inline-block;
		width: 75%;
	}
}
/* Anpassning för enheter med mindre än 600px bredd */
@media screen and (max-width: 600px) {
	div#topbar {
		height: 50px;
		font-size: 23px;
	}
	div#topbar #logo {
		height: 70px;
	}
	div#topbar #ButtonContainer {
		position: absolute;
		background-color: rgba(51, 51, 51, 0.49);
		top: 60px;
		left: -125px;
		width: 100%;
		text-align: center;
	}
	.BarsWNoteKnapp {
		display: none;
	}
	iframe {
		display: none;
	}
	#CenterContainer #ContentContainer {
		display: inline-block;
		width: 98%;
		margin: 50px 0px;
		padding: 15px 0px;
	}
	.MedContainer {
		margin-top: 30px;
		padding: 5px;
		background-color: rgba(51, 51, 51, 0.49);
		text-align: center;
	}
	.Medlem {
		display: inline-block;
		height: 100px;
		width: 100%;
		margin-top: 10px;
	}
	.MedlemText {
		display: inline-block;
		transform: translateY(0px);
		width: 65%;
	}
}
