/* Anpassning för enheter med mindre än 600px bredd */
@media screen and (max-width: 600px) {
	div#topbar {
		height: 50px;
		font-size: 23px;
	}
	div#topbar #logo {
		height: 70px;
	}
	div#topbar #ButtonContainer {
		position: absolute;
		background-color: rgba(51, 51, 51, 0.49);
		top: 60px;
		left: -125px;
		width: 100%;
		text-align: center;
	}
	.BarsWNoteKnapp {
		display: none;
	}
}
