/* Lägger till bakgrunden till <body> taggen och vilket typsnitt den ska använda */
body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23930000' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
	font-family: 'Permanent Marker', cursive;
	color: #FFF;
}
/* Topbar håller allt inom ett 50 pixel höjd och väljer hur det ska se ut */
div#topbar {
	background-color: rgba(51, 51, 51, 0.49);
	font-size: 25px;
	height: 50px;
	padding: 10px;
}
/* #logo fungerar BARA i #topbar för att göra det enklare */
div#topbar #logo {
	position: absolute;
	top: 0;
	margin: 0;
	height: 65px;
}
/* #ButtonContainer håller fast alla knappar i en rad */
div#topbar #ButtonContainer {
	margin-top: 10px;
	margin-left: 125px;
}
/* Bestämmer hur alla <a> taggar ser ut inom #ButtonContainer */
div#topbar #ButtonContainer a {
	color: inherit;
	text-decoration: none;
	margin-top: -20px;
	transition-duration: 0.5s;
}
/* Vad som händer när man hovrar över en <a> tagg */
div#topbar #ButtonContainer a:hover {
	color: #A0A0A0;
}
/* .active ges till den knapp som visar något t.ex hem */
div#topbar #ButtonContainer .active {
	color: #8E8E8E;
	animation-name: ActiveTextFX;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}
/* #SocialMediaContainer håller fast alla sociala medier knappar till samma rad */
div#topbar #SocialMediaContainer {
	position: absolute;
	right: 10px;
	top: 10px;
}
/* Bestämmer att <a> taggar i #SocialMediaContainer inte har ett understreck */
div#topbar #SocialMediaContainer a {
	text-decoration: none;
	cursor: pointer;
}
/* Bestämmer hur alla <img> taggar ser ut i #SocialMediaContainer*/
div#topbar #SocialMediaContainer img {
	height: 20px;
	transition-duration: 0.4s;
	cursor: pointer;
}
/* Vad som händer när man hovrar över en <img> tagg */
div#topbar #SocialMediaContainer img:hover {
	filter: brightness(200%);
	-webkit-filter: brightness(200%);
}
/* Iframe som används av spotify spelaren */
iframe {
	position: absolute;
	right: 0;
	display: none;
	animation-name: FadeIn;
	animation-duration: 0.5s;
}

/* Allt här nedanför är till HEM */
/* Håller allt i mitten på sidan med lite extra padding top & bot */
#CenterContainer {
	text-align: center;
	padding: 2px 0px;
}
/* Där bilden och texten är inuti fungerar bara inom #CenterContainer */
#CenterContainer #ContentContainer {
	display: inline-block;
	width: 35%;
	padding: 5px 0px;
}
/* Styr hur bilden ser ut inuti #ContentContainer */
#CenterContainer #ContentContainer #Image {
	width: 100%;
	animation-name: FadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}
/* Styr hur texten ser ut inuti #ContentContainer */
#CenterContainer #ContentContainer #Text {
	width: 100%;
	font-size: 20px;
	text-align: center;
	animation-name: TextFallFade;
	animation-duration: 2s;
	animation-timing-function: ease;
}
/* Slut på HEM Sidan */

/* Medlemmar Sidan */
.MedContainer {
	margin-top: 10px;
	padding: 5px;
	background-color: rgba(51, 51, 51, 0.49);
	text-align: center;
}
.Left {
	text-align: left;
}
.Right {
	text-align: right;
}
.MedContainer img {
	height: 100px;
	display: inline-block;
	border-radius: 50%;
}
.Medlem {
	display: inline-block;
	height: 100px;
	width: 35%;
}
.MedNamn {
	display: block;
	font-size: 20px;
}
.MedInstrument {
	display: block;
	text-shadow: 1px 2px #000;
}
.MedlemText {
	display: inline-block;
	transform: translateY(-10px);
	width: 50%;
}
#m1 {
	animation-name: MFadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}
#m2 {
	animation-name: MFadeIn;
	animation-duration: 1.4s;
	animation-timing-function: ease-in;
}
#m3 {
	animation-name: MFadeIn;
	animation-duration: 1.8s;
	animation-timing-function: ease-in;
}
#m4 {
	animation-name: MFadeIn;
	animation-duration: 2.2s;
	animation-timing-function: ease-in;
}
#m5 {
	animation-name: MFadeIn;
	animation-duration: 2.6s;
	animation-timing-function: ease-in;
}
#m6 {
	animation-name: MFadeIn;
	animation-duration: 3s;
	animation-timing-function: ease-in;
}
/* Slut på Medlemmar Sidan */

/* Kontakt Sidan */
#KontaktContainer {
	background-color: rgba(51, 51, 51, 0.49);
	padding: 20px 0px;
	animation-name: FadeIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
}
#KontaktTitleContainer {
}
#KontaktTitle {
	font-size: 20px;
	text-align: left;
}
#KontaktInformation {
	font-family: arial;
	text-align: left;
	font-size: 18px;
}
.Inline {
	display: inline-block;
}
.Postadress {
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}
/* Slut på Kontakt Sidan */

/* Footer */
#Footer {
	position: relative;
	text-align: center;
	width: 100%;
	bottom: 2px;
}
#FooterText {
	display: inline-block;
	color: #606060;
}
#FooterText a {
	color: #606060;
}
#FooterText a:hover {
	color: lightgray;
}
/* Slut på Footer */

/* Animation */
/* För #AboutText i div#ContentContainer */
@keyframes TextFallFade {
  0% {
  	transform: translateY(10px);
  	color: black;
  	opacity: 0;
  }
  100% {
  	transform: translateY(0px);
  	color: white;
  	opacity: 1;
  }
}
/* För #AboutImage i div#ContentContainer */
@keyframes FadeIn {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
/* För animationen till medlemmar sidan */
@keyframes MFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Hur texten ser ut när man går in på sidan */
@keyframes ActiveTextFX {
	0% {
 	color: #A0A0A0;
	}
	50% {
		color: #C9C9C9;
	}
	100% {
		color: #8E8E8E;
	}
}
